In [1]:
import pandas as pd

## Clean trends

In [2]:
trends = pd.read_csv('trends.csv')
trends['time'] = pd.to_datetime(trends['time'])
trends.set_index('time', inplace = True)
trends = trends[~trends.index.duplicated(keep='first')]

In [3]:
trends

,Bitcoin,Bitcoin Crash,Blockchain,Crisis,Cryptocurrency,Nicehash,Hashing,GPU,GeForce,mining,Tesla
time,,,,,,,,,,,
2022-05-01 00:00:00,0,32,47,67,86,36,22,66,63,64,68
2022-05-01 01:00:00,0,65,34,54,86,18,40,43,63,62,78
2022-05-01 02:00:00,40,34,25,70,87,0,32,60,70,63,64
2022-05-01 03:00:00,81,35,61,51,84,19,24,68,46,68,60
2022-05-01 04:00:00,0,0,37,74,83,20,44,65,44,63,60
...,...,...,...,...,...,...,...,...,...,...,...
2022-06-18 20:00:00,78,52,41,30,77,70,40,77,88,58,64
2022-06-18 21:00:00,100,45,40,32,67,67,45,81,90,58,62
2022-06-18 22:00:00,90,27,37,33,55,70,42,84,87,58,65
2022-06-18 23:00:00,67,21,37,34,48,62,37,80,81,59,61
2022-06-19 00:00:00,66,21,36,33,46,56,32,78,82,64,59

## Clean price

In [4]:
price = pd.read_csv('price.csv')

In [5]:
price['time'] = pd.to_datetime(price['time']).dt.tz_localize(None)
price.set_index('time', inplace = True)

In [6]:
price

,Open,High,Low,Close,Volume,Dividends,Stock Splits
time,,,,,,,
2022-04-19 02:00:00,40775.023438,40775.023438,40664.164062,40664.164062,0,0,0
2022-04-19 03:00:00,40654.601562,40750.195312,40648.042969,40712.375000,97632256,0,0
2022-04-19 04:00:00,40713.429688,40854.812500,40697.796875,40844.910156,0,0,0
2022-04-19 05:00:00,40846.906250,40858.507812,40691.160156,40691.160156,0,0,0
2022-04-19 06:00:00,40690.281250,40792.695312,40680.976562,40732.976562,0,0,0
...,...,...,...,...,...,...,...
2022-06-18 22:00:00,18516.029297,18719.089844,18516.029297,18719.089844,493039616,0,0
2022-06-19 00:00:00,18996.687500,19109.523438,18956.490234,18964.490234,609124352,0,0
2022-06-19 01:00:00,18987.208984,19011.125000,18554.929688,18554.929688,253734912,0,0
2022-06-19 02:00:00,18516.654297,18535.517578,18422.453125,18423.664062,124043264,0,0
2022-06-19 02:30:00,18399.980469,18399.980469,18399.980469,18399.980469,0,0,0

## Join

In [7]:
df = pd.concat([trends, price['High'].to_frame().rename(columns = {'High' : 'Price'})], axis = 1, join = 'inner')
df

,Bitcoin,Bitcoin Crash,Blockchain,Crisis,Cryptocurrency,Nicehash,Hashing,GPU,GeForce,mining,Tesla,Price
time,,,,,,,,,,,,
2022-05-01 00:00:00,0,32,47,67,86,36,22,66,63,64,68,37808.359375
2022-05-01 01:00:00,0,65,34,54,86,18,40,43,63,62,78,37992.093750
2022-05-01 02:00:00,40,34,25,70,87,0,32,60,70,63,64,38044.781250
2022-05-01 03:00:00,81,35,61,51,84,19,24,68,46,68,60,38050.207031
2022-05-01 04:00:00,0,0,37,74,83,20,44,65,44,63,60,38064.761719
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-18 19:00:00,64,34,41,30,66,64,31,77,86,59,62,18311.740234
2022-06-18 20:00:00,78,52,41,30,77,70,40,77,88,58,64,18090.488281
2022-06-18 21:00:00,100,45,40,32,67,67,45,81,90,58,62,18700.638672
2022-06-18 22:00:00,90,27,37,33,55,70,42,84,87,58,65,18719.089844
2022-06-19 00:00:00,66,21,36,33,46,56,32,78,82,64,59,19109.523438

In [8]:
df.to_csv('data.csv')