In [1]:
import yfinance as yf

In [2]:
df = yf.Ticker('BTC-USD').history(period = '2mo', interval = '1h')

In [3]:
df.index.name = 'time'

In [4]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
time,,,,,,,
2022-04-19 02:00:00+00:00,40775.023438,40775.023438,40664.164062,40664.164062,0,0,0
2022-04-19 03:00:00+00:00,40654.601562,40750.195312,40648.042969,40712.375000,97632256,0,0
2022-04-19 04:00:00+00:00,40713.429688,40854.812500,40697.796875,40844.910156,0,0,0
2022-04-19 05:00:00+00:00,40846.906250,40858.507812,40691.160156,40691.160156,0,0,0
2022-04-19 06:00:00+00:00,40690.281250,40792.695312,40680.976562,40732.976562,0,0,0
...,...,...,...,...,...,...,...
2022-06-18 22:00:00+00:00,18516.029297,18719.089844,18516.029297,18719.089844,493039616,0,0
2022-06-19 00:00:00+00:00,18996.687500,19109.523438,18956.490234,18964.490234,609124352,0,0
2022-06-19 01:00:00+00:00,18987.208984,19011.125000,18554.929688,18554.929688,253734912,0,0
2022-06-19 02:00:00+00:00,18516.654297,18535.517578,18422.453125,18423.664062,124043264,0,0
2022-06-19 02:30:00+00:00,18399.980469,18399.980469,18399.980469,18399.980469,0,0,0

In [5]:
df.to_csv('price.csv')